<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
            <meta content="IE=edge" http-equiv="X-UA-Compatible">
                <meta content="width=device-width, initial-scale=1" name="viewport">
                    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
                    <meta content="" name="description">
                        <meta content="" name="author">
                            <link href="/favicon.ico" rel="icon">
                                <title>
                                    <%=active%>--班级说说
                                </title>
                                <!-- Bootstrap core CSS -->
                                <link href="/css/bootstrap.min.css" rel="stylesheet">
                                    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
                                    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
                                        <!-- Custom styles for this template -->
                                        <link href="/css/jumbotron.css" rel="stylesheet">
                                            <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
                                            <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
                                            <script src="/js/ie-emulation-modes-warning.js">
                                            </script>
                                            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
                                            <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
                                        </link>
                                    </link>
                                </link>
                            </link>
                        </meta>
                    </meta>
                </meta>
            </meta>
        </meta>
        <style type="text/css">
            body{
                padding-top: 100px;
            }
            a:hover{
                text-decoration: none;
            }
            .media{
                margin-bottom: 20px;
            }
            .media-object{
                border-radius: 50%;
            }
        </style>
    </head>
    <body>
        <% include header.ejs %>
        <div class="container">
            <div class="media">
              <div class="media-left">
                  <img class="media-object" src="/avatar/<%=avatar%>">
              </div>
              <div class="media-body">
                  <h4 class="media-heading"><%=username%></h4>
                  自我描述（暂时没有）
              </div>
            </div>
            <ul class="list-group">
                <%for(let i=0; i<userPosts.length; i++){%>
                    <a href="#">
                        <li class="list-group-item">
                            <p><%=userPosts[i].content%></p>
                            <p><%=userPosts[i].datetime%></p>
                        </li>
                    </a>
                <%}%>
            </ul>
            <hr>
                <footer>
                    <p>
                        © 2016 Company, Inc.
                    </p>
                </footer>
            </hr>
        </div>
        <!-- /container -->
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/js/jquery-1.11.3.min.js">
        </script>
        <script>
            window.jQuery || document.write('<script src="/js/jquery-1.11.3.min.js"><\/script>')
        </script>
        <script src="/js/bootstrap.min.js">
        </script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="/js/ie10-viewport-bug-workaround.js">
        </script>
    </body>
</html>
